<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>December 2nd</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:30</td>        <!-- time    -->
        <td>Introducing the Shell</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>9:35</td>        <!-- time    -->
        <td>Navigating Files and Directories</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:15</td>        <!-- time    -->
        <td>Working with Files and Directories</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:05</td>        <!-- time    -->
        <td>Pipes and Filters</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:40</td>        <!-- time    -->
        <td>Loops</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:30</td>        <!-- time    -->
        <td>Shell Scripts</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>13:15</td>        <!-- time    -->
        <td>Finding Things</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>13:30</td>        <!-- time    -->
        <td>Finish</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>December 3rd</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>December 6th</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>December 7th</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
