<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>December 2nd - Shell</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>9.30</td>
        <td>Start</td>
      </tr>
      <tr>
        <td></td>
        <td><a href="https://swcarpentry.github.io/shell-novice/setup.html">0. Download files required for the lesson</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a href="https://swcarpentry.github.io/shell-novice/01-intro/index.html">1. Introducing the Shell</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a href="https://swcarpentry.github.io/shell-novice/02-filedir/index.html">2. Navigating Files and Directories</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a href="https://swcarpentry.github.io/shell-novice/03-create/index.html">3. Working with Files and Directories</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a href="https://swcarpentry.github.io/shell-novice/04-pipefilter/index.html">4. Pipes and Filters</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a href="https://swcarpentry.github.io/shell-novice/05-loop/index.html">5. Loops</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a href="https://swcarpentry.github.io/shell-novice/06-script/index.html">6. Shell Scripts</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a href="https://swcarpentry.github.io/shell-novice/07-find/index.html">7. Finding Things</a></td>
      </tr>
      <tr>
        <td>13:00</td>
        <td>Finish</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>December 3rd - Git</h3>
    <table class="table table-striped">
      <tr>
        <td>9.30</td>
        <td>Start</td>
      </tr>
        <tr>
            <td></td>
            <td>0. See below for instructions on installing git</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="https://swcarpentry.github.io/git-novice/01-basics/index.html">1. Automated Version Control</a></td>
        </tr>
        <tr>
            <td></td>
            <td><a href="https://swcarpentry.github.io/git-novice/02-setup/index.html">2. Setting Up Git</a></td>
        </tr>
        <tr>
            <td></td>
            <td><a href="https://swcarpentry.github.io/git-novice/03-create/index.html">3. Creating a Repository</a></td>
        </tr>
        <tr>
            <td></td>
            <td><a href="https://swcarpentry.github.io/git-novice/04-changes/index.html">4. Tracking Changes</a></td>
        </tr>
        <tr>
            <td></td>
            <td><a href="https://swcarpentry.github.io/git-novice/05-history/index.html">5. Exploring History</a></td>
        </tr>
        <tr>
            <td></td>
            <td><a href="https://swcarpentry.github.io/git-novice/06-ignore/index.html">6. Ignoring Things</a></td>
        </tr>
        <tr>
            <td></td>
            <td><a href="https://swcarpentry.github.io/git-novice/07-github/index.html">7. Remotes in GitHub</a></td>
        </tr>
        <tr>
            <td></td>
            <td><a href="https://swcarpentry.github.io/git-novice/08-collab/index.html">8. Collaborating</a></td>
        </tr>
        <tr>
            <td></td>
            <td><a href="https://swcarpentry.github.io/git-novice/09-conflict/index.html">9. Conflicts</a></td>
        </tr>
        <tr>
            <td></td>
            <td><a href="https://swcarpentry.github.io/git-novice/10-open/index.html">10. Open Science</a></td>
        </tr>
        <tr>
            <td></td>
            <td><a href="https://swcarpentry.github.io/git-novice/11-licensing/index.html">11. Licensing</a></td>
        </tr>
        <tr>
            <td></td>
            <td><a href="https://swcarpentry.github.io/git-novice/12-citation/index.html">12. Citation</a></td>
        </tr>
        <tr>
            <td></td>
            <td><a href="https://swcarpentry.github.io/git-novice/13-hosting/index.html">13. Hosting</a></td>
        </tr>
        <tr>
            <td></td>
            <td><a href="https://swcarpentry.github.io/git-novice/14-supplemental-rstudio/index.html">14. Supplemental: Using Git from RStudio</a></td>
        </tr>
        <tr>
            <td>13:00</td>
            <td>Finish</td>
        </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>December 6th - R part 1</h3>
    <table class="table table-striped">
      <tr>
        <td>9.30</td>
        <td>Start</td>
      </tr>
      <tr>
        <td></td>
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/setup.html">0. Download files required for the lesson</a></td>
      </tr>
        <tr>
            <td></td>
            <td><a href="https://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro/index.html">1. Introduction to R and RStudio</a></td>
        </tr>
        <tr>
            <td></td>
            <td><a href="https://swcarpentry.github.io/r-novice-gapminder/02-project-intro/index.html">2. Project Management With RStudio</a></td>
        </tr>
        <tr>
            <td></td>
            <td><a href="https://swcarpentry.github.io/r-novice-gapminder/04-data-structures-part1/index.html">3. Data Structures</a></td>
        </tr>
        <tr>
            <td></td>
            <td><a href="https://swcarpentry.github.io/r-novice-gapminder/05-data-structures-part2/index.html">4. Exploring Data Frames</a></td>
        </tr>
        <tr>
            <td></td>
            <td><a href="https://swcarpentry.github.io/r-novice-gapminder/08-plot-ggplot2/index.html">5. Creating Publication-Quality Graphics with ggplot2</a></td>
        </tr>
      <tr>
        <td>13:00</td>
        <td>Finish</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>December 7th R part 2</h3>
    <table class="table table-striped">
      <tr>
        <td>9.30</td>
        <td>Start</td>
      </tr>
        <tr>
            <td></td>
            <td><a href="https://swcarpentry.github.io/r-novice-gapminder/13-dplyr/index.html">6. Data Frame Manipulation with dplyr</a></td>
        </tr>
        <tr>
            <td></td>
            <td><a href="https://swcarpentry.github.io/r-novice-gapminder/10-functions/index.html">7. Functions Explained</a></td>
        </tr>
        <tr>
            <td></td>
            <td><a href="https://swcarpentry.github.io/r-novice-gapminder/15-knitr-markdown/index.html">8. Producing Reports With knitr</a></td>
        </tr>
      <tr>
        <td>13:00</td>
        <td>Finish</td>
      </tr>
    </table>
  </div>
</div>
